
:root {
  --light: #d8dbe0;
  --dark: #28292c;

}



.toggleSwitch {
  position: relative;
  width: 40px;
}

label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;

}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
  
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light);

  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(15px);
  background-color: var(--dark);
  box-shadow: none;
}
